.container {
    display: grid;
    grid-gap: 0px;
    height: 800px;
    width: 800px;
    border: solid black;
  }
  
  .square {
    background-color: white;
    border: solid darkgray;
    border-width: 1px;
  }
  
  button{
    height: 18px;
    width: 18px;
  }
  
  .player{
    background-color: #333333;
  }
  .apple{
    background-color: pink;
  }
  .goldenApple{
    background-color: gold;
  }